/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Mulish', sans-serif;
}

.navbar{
  background-color: #fff !important ;
}

.navbar-brand{
font-size: 1.9rem !important;
color: #565387 !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover{
  color: #3498db !important;
}

@media (max-width: 991px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}

.navbar-nav{
  margin-left: auto;
}


.startbtn{
  color:black;
  border-radius: 20px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid;
  text-decoration: none;
}
.startbtn:hover{
  background-color: #3498db;
  color: #fff;
}

/* main landing section==================== */

#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: #000;
}

#header .brand-name {
  color:#3498db;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}
.header-img{
  text-align: right;
}

.animated{
  animation: updown 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes updown {
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}
  @keyframes updown {
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(-20px);
    }
  }

  .footer{
    margin-top: 220px;
  }
